OPENAI_API_KEY=sk-your-openai-api-key-here
GEMINI_API_KEY=your-gemini-api-key-here
GROQ_API_KEY=your-groq-api-key-here
FLASK_SECRET_KEY=footbro_secret_2024
OUTPUT_DIR=D:\VS code projects\Project\SOCIAL_MEDIA_aGENT\FBS\output
LOGO_PATH=D:\VS code projects\Project\SOCIAL_MEDIA_aGENT\FBS\assets\logo.png
